body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: white;
}

*{
    text-decoration: none;
}

.container{
    max-width: 100%;
}

.links{
    display: grid;
    width: 50%;
    height: 100vh;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 20% 20% 20% 20% 20%;
    color: black;
    text-decoration: none;
    font-size: 2em;
    margin: 0 auto;
    padding: 5% 0;
}


.blog-link{
    display: grid;
    height: 280px;
    width: 280px;
    border-radius: 50%;
    grid-row: 3 ;
    grid-column: 1;
    background: #E6843E ;
    cursor: pointer;
    box-shadow: 2px 2px 2px #0B8D99;
}

.blog-link:hover{
    transform: scale(1.1);
}

.portfolio-link{
    display: grid;
    height: 400px;
    width: 400px;
    grid-row: 1 ;
    grid-column: 3;
    border-radius: 50%;
    background: #E6843E ;
    cursor: pointer;
    box-shadow: 2px 2px 2px #0B8D99;

}

.portfolio-link:hover{
    transform: scale(1.1);
}


.about-link{
    display: grid;
    height: 340px;
    width: 340px;
    grid-row: 4 ;
    grid-column: 4;
    border-radius: 50%;
    background: #E6843E ;
    cursor: pointer;
    box-shadow: 2px 2px 2px #0B8D99;
}

.about-link:hover{
    transform: scale(1.1);
}

.myName{
    width: 500px;
    grid-row:  1/2;
    grid-column: 1;
    color: black;
}

.linkOfBlog{
    grid-row: 2;
    grid-column:2;
    font-size: 60px;
    text-decoration: none;
    color: white;
    text-shadow: 1px 2px 2px #994F1A;
}

.linkOfPortfolio{
    grid-row: 2;
    grid-column:2;
    font-size: 60px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-shadow: 1px 2px 2px #994F1A;
}

.linkOfAbout{
    grid-row: 2;
    grid-column:2;
    font-size: 60px;
    text-decoration: none;
    color: white;
    text-shadow: 1px 2px 2px #994F1A;
}

.logo{
    display: flex;
    flex-direction: column;
    height: 30px;
    width: 30px;
    color:black;
    margin: 10px;
}

.info-name{
    width: 500px;
    grid-row: 1;
    grid-column: 1;
    margin-bottom: 0;
}

.info-softwareDeveloper{
    margin-top: 0;
    margin-bottom: 0;
}

.blog-container{
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.portfolio-div{
    width: 80%;
    margin: 0 auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.portfolio-logo-div{
    width: 800px;
    height: 800px;
    margin: 0 auto;
}

.portfolio-logo{
    width: 50%;
    height: 50%;
    cursor: pointer;
}

.mainportfolio-container{
    width: 100%;
    height: 100vh;
}

.mainportfolio-header{
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 2em;
}

.logo-div-homepage{
    margin-top: 0;
    display: flex;
    flex-direction: row;
}